<!--
  Generated template for the Rules page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
  <div>
    <div>
      <ion-grid>
        <ion-row style="margin-top: -15px">
          <ion-col col-12>
            <ion-card>
              <ion-item>
                <ion-avatar item-left style="margin-top: 20px; margin-bottom: 20px">
                  <img src="assets/img/bulb.png">
                </ion-avatar>
                <ion-toggle item-left name="floweringBtn" style="zoom: 0.8" [(ngModel)]="rules.lightConfig.flowering" (ionChange)="changeFlowering()"></ion-toggle>
                <span item-left style="font-size: 0.8em" *ngIf="!rules.lightConfig.flowering">Crecimiento</span>
                <span item-left style="font-size: 0.8em" *ngIf="rules.lightConfig.flowering">Floración</span>
                <button item-right ion-button clear outline color="dark" [navPush]="lightConfigPage" [navParams]="lightConfigParams" style="position: absolute; left: 185px; background: white; top: 0;">
                  <ion-icon name="build"></ion-icon>
                </button> 
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-card>
              <ion-item>
                <ion-avatar item-left style="margin-top: 20px; margin-bottom: 20px">
                  <img src="assets/img/turbine.png">
                </ion-avatar>
                <ion-range min="20" max="40" step="1" snaps="true" color="secondary" [(ngModel)]="rules.temperatureConfig.tempStart" (ionChange)="changeTemperature()"></ion-range>
                <span item-left style="position: absolute;left: 140px;top: 40px;font-size: 0.8em;">{{rules.temperatureConfig.tempStart}}º</span>
                <button item-right ion-button clear outline color="dark" [navPush]="lightConfigPage" [navParams]="lightConfigParams" style="position: absolute; left: 185px; background: white; top: 0;">
                  <ion-icon name="build"></ion-icon>
                </button> 
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-card>
              <ion-item>
                <ion-avatar item-left style="margin-top: 20px; margin-bottom: 20px">
                  <img src="assets/img/dehumidifier.png">
                </ion-avatar>
                <ion-range min="40" max="90" step="1" snaps="true" color="secondary" [(ngModel)]="rules.humidityConfig.humidityStart" (ionChange)="changeHumidity()"></ion-range>
                <span item-left style="position: absolute;left: 140px;top: 40px;font-size: 0.8em;">{{rules.humidityConfig.humidityStart}}</span>
                <button item-right ion-button clear outline color="dark" [navPush]="lightConfigPage" [navParams]="lightConfigParams" style="position: absolute; left: 185px; background: white; top: 0;">
                  <ion-icon name="build"></ion-icon>
                </button> 
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>        
      </ion-grid>
    </div>
  </div>
</ion-content>