page-sensors {
    
    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;
            width: 90px;
            box-shadow: 0px 0px 0px 0px 
        }

        .card-sensor {
            position: absolute;
            top: 20%;
            font-family: digital7;        
            font-size: 2.0em;
            width: 100%;
            color: #000;
        }

        .card-subtitle {
            position: absolute;
            top: 56%;
            font-size: 0.8em;
            padding-left: 5px;
            padding-right: 5px;
            width: 100%;
            color: #000;
        }

        .card-img {
            width: 90px;
            height: 90px;
        }

        .card-switch {
            position: absolute;
            top: 20%;
            margin-left: 29px;
            width: 35%;       
        }

        .card-manual {
            position: absolute;
            top: 20%;
            font-size: 1.3em;
            margin-left: -13px;
        }

        .card-relay {
            font-size: 0.8em;
            padding-left: 5px;
            padding-right: 5px;
            position: absolute;
            top: 65%;
            width: 100%;
            color: #000;
        }        

        .card-sm-manual {
            position: absolute;
            top: 10%;
            font-size: 1em;
            margin-left: 20px;
        }
    }
}
