<md-sidenav-container>
    <md-sidenav #sidenav mode="push" class="app-sidenav">
        <button md-icon-button (click)="add_component()">
            <md-icon svgIcon="add" class="md-24">Agregar</md-icon>
        </button>
        <md-nav-list *ngIf="components.length > 0">
            <a md-list-item *ngFor="let c of components" href="views/panel.html?host={{c.host}}">{{c.host}}</a>
        </md-nav-list>
    </md-sidenav>
    <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.toggle()">
            <md-icon svgIcon="menu" class="md-24">menu</md-icon>
        </button>
    </md-toolbar>
    <div class="app-content">
        Example Content area<br><br><br><br><br><br><br>
    </div>
</md-sidenav-container>
