<md-sidenav-container class="app-sidenav">
    <md-sidenav #sidenav mode="push">
        <div>
            <button md-icon-button (click)="add_component()">
                <md-icon svgIcon="add" class="md-24">Agregar</md-icon>
            </button>            
            <span>&nbsp;Agregar componente</span>
        </div>
        <md-nav-list *ngIf="components.length > 0">
            <md-list-item *ngFor="let c of components">
                <a md-line href="sensors;host={{c.host}}">{{ c.host }}</a>
                <button md-icon-button (click)="showInfo(link)">
                    <md-icon>info</md-icon>
                </button>
            </md-list-item>
         </md-nav-list>
    </md-sidenav>
    <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.toggle()">
            <md-icon svgIcon="menu" class="md-24">menu</md-icon>
        </button>
    </md-toolbar>
    <div>
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>
