<md-dialog-content class="host_dlg">
    <form>
        <md-toolbar color="primary">
            <md-toolbar-row>
                <span>Agregar componente</span>
                <md-input-container>
                    <input mdInput placeholder="IP" name="host_dlg" [(ngModel)]="data.host">
                </md-input-container>  
            </md-toolbar-row>
        </md-toolbar>
    </form>    
    <md-dialog-actions>
        <button md-raised-button color="primary" (click)="addComponent()">Agregar</button>
        <button md-button md-dialog-close>Cerrar</button>
    </md-dialog-actions>
</md-dialog-content>