<ion-view title="Agregar modulo" id="page4">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-done"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-close"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="agregarModulo-form1" class="list">
      <label class="item item-input" id="agregarModulo-input2" name="url">
        <span class="input-label">URL:</span>
        <input type="text" placeholder="http://localhost:3000">
      </label>
    </form>
  </ion-content>
</ion-view>